<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
</head>
<style>
    .main.container {
        margin-top: 7em;
    }
</style>
<body>
<div class="ui fixed inverted menu">
    <a href="/" class="header item">Accueil</a>
</div>
<div class="main ui container">